{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ],
        "react"
      ],
      "plugins": [
        ["transform-imports", {
          "redux-form": {
            "transform": "redux-form/es/${member}",
            "preventFullImport": true
          }
        }]
      ]
    },
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-react-remove-prop-types",
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}