{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "modules": false,
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ],
        "react"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ],
        "react"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  },
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-react-jsx",
    "transform-react-remove-prop-types",
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}