{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "no-param-reassign": ["error", {
      "props": false
    }]
  },
  "globals": {
    "describe": false,
    "test": false,
    "expect": false
  }
}