{
  "parser": "babel-eslint",
  "extends": "../../.eslintrc",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-use-before-define": 0
  },
  "globals": {
    "APP": false,
    "AUTH": false,
    "PAYMENT": false,
    "ORDER": false,
    "YOUTUBE": false,
    "StripeCheckout": false
  }
}