{
  "extends": "../../.eslintrc",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0
  },
  "globals": {
    "AUTH": false,
    "SIGN": false,
    "MERCHANT_ID": false
  }
}